<div class="social-links">
    <a href="https://github.com/pingshian0131?tab=repositories" class="github" target="_blank"><i class="bx bxl-github"></i></a>
    <a href="https://pingshian0131.medium.com/" class="medium" target="_blank"><i class="bx bxl-medium"></i></a>
    <a href="https://www.linkedin.com/in/pingshian-yu-036431154/?originalSubdomain=tw" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
    <a href="https://lin.ee/XGOYoLJ" class="line" target="_blank"><i class="bi bi-line"></i></a>
</div>